  <div class="achievement">
    <div class="details">
      <div class="icon">
        <%= icon 'trophy', library: 'heroicons' %>
      </div>
      <div>
        <h3 class="name"><%= achievement_progress.achievement.name %></h3>
        <span class="subcategory">Test</span>
      </div>
    </div>

    <div class="status <%= achievement_progress.status %>">
      <span><%= achievement_progress.status.split('_').join(" ").titleize %></span>
    </div>

    <div class="progress">
      <progress id="achievement_progress" max="10" value="<%= achievement_progress.progress %>"></progress>
      <p>Progress: <%= (achievement_progress.progress / 10.0) * 100 %>%</p>
    </div>

    <% users = achievement_progress.group.users.where('users.id != ?', current_user.id) %>
    <% if users.count > 0 %>
      <div class="with">
        <% users.first(3).each do |user| %>
          <span><%= user.username.first.upcase %></span>
        <% end %>

        <% if users.count > 3 %>
          <span>+<%= achievement_progress.group.users.count - 3 %></span>
        <% end %>
      </div>
    <% end %>
  </div>
