<%= turbo_frame_tag('achievement-progress') do %>
  <h1 class="name"><%= @achievement_progress.achievement.name %></h1>

  <div class='group-context content-block'>
    <label for='group-select'>Viewing context</label>
    <%= select_tag(
      'groups',
      options_for_select(@select_collection, @achievement_progress.id),
      class: 'group',
      id: 'group-select',
      data: {
        controller: 'group-context',
        action: 'group-context#updateGroup',
        group_context_url_value: "#{root_path}achievement_progress"
      }
    ) %>
  </div>

  <%= render partial: "achievement_progress/progress", locals: { achievement_progress: @achievement_progress } %>

  <div class='description content-block'>
    <h3>Achievement Info</h3>
    <p><%= @achievement.description %></p>
    <span></span>
  </div>

  <%= render partial: 'achievement_progress/participants', locals: { selected_group: @achievement_progress.group } %>

  <div class='action-buttons'>
    <a class='btn-leave' href='<%= root_path %>' data-turbo-frame='_top'>Leave</>
  </div>
<% end %>
